<div class="topNav">
  <%= link_to '/' do %>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Y_Combinator_logo.svg" alt="" class="logo">
    <h4>Hacker News</h4>
  <% end %>
  <div class="nav-item-list">
    <%= link_to 'new', '/', class: 'nav-item' %>
    <span>|</span>
    <%= link_to 'comments', '/', class: 'nav-item' %>
    <span>|</span>
    <%= link_to 'show', '/', class: 'nav-item' %>
    <span>|</span>
    <%= link_to 'ask', '/', class: 'nav-item' %>
    <span>|</span>
    <%= link_to 'jobs', '/', class: 'nav-item' %>
  </div>
</div>
